@import '../sidebars/account-side';

.account{
	top: 0;
	position: absolute;
	margin-left: $wdith_user_box;

	.list{
		margin: 2vh;
		padding: 2vh;
		display: flex;
		width: 117.2vh;
		flex-direction: column;
		@include drop-shadow-sm;
		background: $firstColor;
		border-radius: $padding2;
		justify-content: flex-start;

		.product{
			display: block;
			height: 11.5vh;
			color: inherit;
			cursor: pointer;
			line-height: 11.5vh;
			text-decoration: none;
			box-sizing: border-box;
			border-radius: $padding2;
			border-left-color: transparent;

			img{
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 6vh;
				float: left;
				margin: auto;
				margin-top: 1.25vh;
			}
	
			.name{
				display: block;
				margin-top: -$padding2 / 2;
				padding-left: $padding_base;
				padding-right: $padding_base;
				line-height: $padding_base * 2;
				margin-left: $padding_base * 4.5;
			}
	
			.slogan{
				display: block;
				font-size: $smallFont + .05;
				line-height: $padding_base * 2;
				margin-left: $padding_base * 6;
				padding-left: $padding_base + $padding3;
				padding-right: $padding_base + $padding3;
			}
	
			@include hover($secondColor) {
				@include drop-shadow-sm;
				transition: .3s ease-in-out;
				border-left: $padding1 solid $blueColor;
			}
		}
	}
}