
@import 'elements/account/account-menu';
@import 'elements/account/boxes/user-box';

.account{
	top: 0;
	position: absolute;
	margin-left: $wdith_user_box;
	margin-top: $header_size + $padding3;

	@import 'elements/account/list';
	@import 'elements/account/card-area';

	@import 'elements/account/boxes/info-box';
	@import 'elements/account/boxes/menu-box';
	@import 'elements/account/boxes/filter-box';
}