$padding1: .6em;
$padding3: .3em;
$padding2: .5em;
$padding4: .8em;
$padding5: .7em;
$padding_base: 1em;

$fontSize: 1.5vh;
$smallFont: 1.1vh;

$menu_size: 11vh;
$logo_size: 18.5vh;
$header_size: 6.5vh;
$border_size: .05em;
$width_screen: 150vh;
$wdith_user_box: 26.5vh;

$font: 'Montserrat', sans-serif;