@mixin profile-menu{
	.menu{
		float: none;
		position: absolute;
		margin-left: 3.8em;
		padding-top: $border_size;

		.item{
			float: left;
			font-size: 1em;
			cursor: pointer;
			font-weight: bold;
			line-height: 3.6em;
			padding-left: $padding_base;
			padding-right: $padding_base;
			border-bottom: .2em solid transparent;

			@include icons{
				float: left;
				width: 4.75vh;
				text-align: center;
				line-height: 3.6em;
				margin-left: -$padding_base;
			}

			@include hover{
				border-color: $blueColor;
				transition: .3s ease-in-out;
			}
		}

		.actived{
			background: $secondColor;
			border-color: $blueColor;
		}
	}
}

@mixin profile-name-bar{
	cursor: pointer;
	line-height: 5vh;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 3.3em;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	@include text-shadow-sm;
	border-bottom: .2em solid transparent;
	background: rgba($color: $firstColor, $alpha: .75);

	@include hover{
		border-color: $blueColor;
		transition: .3s ease-in-out;
	}
}

@mixin profile-avatar-circle{
	width: 7vh;
	left: $padding2;
	border-radius: 50%;
}

@mixin profile-cover($size: 15vh){
	height: $size;
	line-height: $size;
	@include drop-shadow-sm;
	@include filter-grayscale(100%);
	background: url($bg_default_user) no-repeat center center;

	@content;
}