.content{
	display: flex;
	margin: 0 20vh;
	position: absolute;
	align-items: center;
	width: $width_screen;
	margin-top: $header_size;
	margin-bottom: $header_size;
	
	@import 'pages/index';
	@import 'pages/account';
}