@use "sass:math";

header{
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 99999999;
	height: $header_size;
	background: $firstColor;
	line-height: $header_size;
	border-bottom: $border_size solid $borderColor;

	.header-content{
		display: flex;
		margin-left: 3em;
		margin-right: 3em;
		align-items: center;
		justify-content: space-between;
		
		nav{
			font-weight: bold;
			@include no-text-select;
	
			.item{
				width: 8em;
				float: left;
				cursor: pointer;
				text-align: center;
				height: $header_size;
				line-height: $header_size;
				border-color: transparent;
	
				img{
					width: 60%;
					height: 60%;
					margin-left: .25vh;
					text-align: center;
					border-radius: 50%;
					margin-top: math.div($header_size, 5);
				}
	
				@include hover;
			}

			.user{
				width: $header_size !important;

				@include hover-custom{
					img{
						transition: .3s ease all 0s;
						@include filter-grayscale(100%);
					}
				}
			}
	
			.actived{
				@include drop-shadow-sm;
				background: $secondColor;
				@include filter-grayscale(100%);
			}
		}
	}
}

.header-scroll-effect{
	@include backdrop-blur($padding2);
	
	background: rgba(
		$alpha: .7,
		$color: $firstColor,
	);
}