.account-box{
	top: 0;
	right: 0;
	display: none;
	position: fixed;
	z-index: 99999999999;
	width: $wdith_user_box;
	background: $firstColor;
	@include drop-shadow-sm;
	margin-top: $header_size;
	border-bottom-left-radius: $padding2;
	border-bottom-right-radius: $padding2;

	.user{
		font-size: 1.25vh;
		
		.name{
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			z-index: 999999;
			position: absolute;
			margin-top: 11.52vh;
			text-decoration: none;
			@include text-shadow-sm;
			@include profile-name-bar;
		}

		.avatar{
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			margin-top: 2vh;
			position: absolute;
			@include profile-avatar-circle;
		}

		.cover-box{
			@include profile-cover;
			border-top-left-radius: $padding2;
			border-top-right-radius: $padding2;
		}
	}

	@include profile-menu;
}