@use "sass:math";

.products-box{
	top: 0;
	right: 0;
	display: none;
	position: fixed;
	z-index: 99999999;
	text-align: center;
	@include drop-shadow-sm;
	background: $firstColor;
	margin-top: $header_size;
	margin-right: $wdith_user_box;
	border-bottom-left-radius: $padding2;
	border-bottom-right-radius: $padding2;

	input{
		width: 57vh;
		border: none;
		color: $fontColor;
		padding-left: 1vh;
		padding-right: 1vh;
		line-height: 4.25vh;
		display: inline-block;
		margin: $padding_base;
		background: transparent;
		border-radius: $padding2;
		margin-bottom: math.div($padding3, 2);
		border-left: $padding1 solid transparent;

		@include placeholder(.7, bold);
		@include hover($fontColor, $firstColor) {
			@include drop-shadow-sm;
			border-color: $blueColor;
			transition: border-color .3s ease-in-out;
		}
	}

	.list{
		display: flex;
		overflow: auto;
		flex-wrap: wrap;
		max-width: 59vh;
		max-height: 42vh;
		text-align: left;
		align-items: left;
		flex-direction: row;
		padding: $padding_base;
		justify-content: justify;
		padding-left: $padding_base + .35;

		.more{
			width: 100%;
			color: inherit;
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			box-sizing: border-box;
			border-radius: $padding2;
			margin-top: $padding_base;
			font-size: $smallFont + .2;
			height: $padding_base * 3.5;
			line-height: $padding_base * 3.5;
	
			@include hover($blueColor) {
				@include drop-shadow-sm;
				transition: background-color .3s ease-in-out;
			}
		}

		.product{
			padding: 1vh;
			height: 11.5vh;
			color: inherit;
			cursor: pointer;
			width: 29.495vh;
			line-height: 11.5vh;
			text-decoration: none;
			box-sizing: border-box;
			border-radius: $padding2;
			border-left-color: transparent;

			img{
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 6vh;
				float: left;
				margin: auto;
				margin-top: 1.25vh;
			}
	
			.name{
				display: block;
				padding-left: $padding_base;
				padding-right: $padding_base;
				line-height: $padding_base * 2;
				margin-left: $padding_base * 4.5;
				margin-top: math.div(-$padding2, 2);
			}
	
			.slogan{
				display: block;
				font-size: $smallFont + .05;
				line-height: $padding_base * 2;
				margin-left: $padding_base * 6;
				padding-left: $padding_base + $padding3;
				padding-right: $padding_base + $padding3;
			}
	
			@include hover($secondColor) {
				@include drop-shadow-sm;
				transition: .3s ease-in-out;
				border-left: $padding1 solid $blueColor;
			}
		}

		@include scrollbar;
	}
}